{% extends 'base.html' %}

{% block title %}Home - MeetRoomAdmin{% endblock %}

{% block content %}
<div class="container m-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mt-5 text-center">Welcome to MeetRoomAdmin</h1>
            <p class="text-center">Manage your meeting rooms efficiently with our platform.</p>
            <div class="text-center mt-4">
                <a href="" class="btn btn-primary">Reserve a Room</a>
                <a href="" class="btn btn-secondary">View Availability</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
